@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@import "fonts";

.hero{
    background-image: url("../img/slide.jpg");
    background-color: #cccccc; 
    background-repeat: no-repeat;
    // width: 1302px;
    height: 815px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer{
    background-image: url("../img/footer-img.jpg");
    background-color: #cccccc; 
    background-repeat: no-repeat;
    // width: 1260px;
    height: 540px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}