._no-webp .hero {
  background-image: url("../img/slide.jpg"); }

.hero {
  background-color: #cccccc;
  background-repeat: no-repeat;
  height: 815px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

._no-webp .footer {
  background-image: url("../img/footer-img.jpg"); }

.footer {
  background-color: #cccccc;
  background-repeat: no-repeat;
  height: 540px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

._webp .hero { background-image: url(../img/slide.webp); }

._webp .footer { background-image: url(../img/footer-img.webp); }